.container-form{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  margin: auto;
  padding: 30px;
  row-gap:20px;
  background: #fff;
  margin-top:10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);

}
.form-asistencia{
  display: flex;
  flex-direction: column;
  margin:0 auto;
  width: 330px;
  row-gap:20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
.selected-item{
  text-align: center;
  height      : 35px;
background  : transparent;
outline     :none;
border      :1px solid silver;
padding-left:10px;
border-radius: 4px;
  font-size: 16px/16px Verdana;
transition: all 0.3s ease;
}
.select-group{
  display: flex;
  margin: auto;
  width: 330px;
  flex-direction: column;
}
.group-selected{
  display: flex;
}
.select-item-self{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100px;
}

.btn-enviar {
  width        : 50%;
  background   : orange;
  color        : #fff;
  padding      : 8px 15px;
  border       : none;
  border-radius: 3px;
  font-size    : 16px;

}

.btn-enviar:hover {
  background: #ff9500;
  outline   : 2px solid #ff6600;
  cursor    : pointer;
}
.spinner {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin: 10px 0;
}

.item-self{
  background-color: yellow;
  width: 100px;
}
#outlined-basic{
  padding:0px
  
}