.container-form{

  border:2px solid green;
}
.form-curso{
  border:2px solid green;
}
.btn-curso {

  background   : orange;
  color        : #fff;
  padding      : 8px 15px;
  border       : none;
  border-radius: 3px;
  font-size    : 16px;
  cursor       : pointer;
}
.select-item-self{
  width: 100%;
  border:2px solid green;
}
.select-item-number{
  margin: auto;
  width: 80px;
}

.btn-curso:hover {
  background: #ff9500;
  outline   : 2px solid #f3f1ef;
  cursor    : pointer;
}
