.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 450px;
  margin:auto;
  padding:15px 0 0 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
0 6px 6px rgba(0, 0, 0, 0.23);
/* background-color: rgba(3, 60, 134, 0.671); */
}
.login-logo{
  width: 300px;
}
.form-login{
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
}
.form-group-input{
  display: flex;
  flex-direction: column;
  text-align: left;
  position:relative;
}
.form-input{
  height: 35px;
  background: transparent;
  outline:none;
  border:1px solid silver;
  padding-left:10px;
  border-radius: 4px;

}
.form-label{
  position:absolute;
  top:7px;
  left:10px;
  font-size: 14px;
  color:silver;
}
.form-input,
.form-label{
  font-size: 16px/16px Verdana;
  transition: all 0.3s ease;
}


/*Focus*/
.form-input.focus{
  border:2px solid #013fc59d
}
.form-label.focus{
  color:#013fc59d;
}

/*Top*/
.form-label.top{
  top:-10px;
  left:3px;
  background: #fff;
  padding:0 5px
}



.form-input:focus + .form-label{
top       :-10px;
left      :3px;
background: #fff;
padding   :0 5px;
border:2px solid #013fc59d;
color:#013fc59d;
}


.form-group-button{
  display: flex;
  justify-content: flex-end;
  margin-top:30px;
}
.form-button-enviar{
  width: 50%;
  background: orange;
  color:#fff;
  padding:8px 15px;
  border:none;
  border-radius: 3px;
  font-size: 16px;

}
.form-button-enviar:hover{
  background: #ff9500;
}
.error-input{
  color: red;
  font-size: 12px;
  margin: 5px 10px;
  visibility: visible;
}

@media screen and (max-width: 650px) {
  .form-button-enviar{
    width: 100%;
  }
}
